html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}

a,
a:focus,
a:hover {
  color: #d3d3d3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #428bca;
}

.head {
    float: left;
}

.pg-head {
    font-weight: 900;
    color: #428bca;
    margin-left: 30px;
}

.footer .text-muted {
    margin: 8px 10px;
    text-align: center;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 0.8em;
}